body {
    font-family: "Quicksand", sans-serif;
}
.book-card {
    border-radius: 10px;
    overflow: hidden;
}
.book-img {
    height: 200px;
    object-fit: cover;
}

.pricing-header{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.bg-t{
    background-color: #ffffff57;
}

.bt-p{
    background-color: rgb(133, 0, 110);
}

.multiline-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:link {
    color: rgb(133, 0, 110);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(116, 0, 39);
  }
  

  a:hover {
    color: rgb(138, 1, 138);
  }
  
  a:active {
    color: rgb(150, 0, 112);
  }
  .image-gallery {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: nowrap; 
    overflow-x: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.image-container {
    flex: 1 1 auto;
    max-width: 25%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 10px; 
    border: 2px solid #f0f0f0;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }
  
  * {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f0f0f0; 
  }
  
  ::-webkit-scrollbar-horizontal {
    height: 5px;
  }
  
  ::-webkit-scrollbar-vertical {
    width: 5px;
  }